<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ứng Dụng Quản Lý sách</title>
  <th:blook th:replace="layout :: header"></th:blook>
</head>
<body>
<th:blook th:replace="layout :: header"></th:blook>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Trang chủ ứng dụng quản lý sách - ket noii csdl
      </a>
    </div>
  </nav>
</div>
<th:blook th:replace="layout :: footer"></th:blook>
</body>
</html>