<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:blook th:replace="layout :: link-css"></th:blook>
  <title>add book</title>

</head>
<body>

<th:blook th:replace="layout :: header"></th:blook>

<div class="container">
  <h1> Add book</h1>
  <form th:action="@{/books/add}" th:object="${book}" method="post">

    <div class="col-6 mb-3">
      <label class="form-lable"for="title">title: </label>
      <input class="form-control" type="text" th:field="*{title}" id="title">
    </div>
    <div class="col-6 mb-3">
      <label class="form-lable"for="author">author: </label>
      <input class="form-control" type="text" th:field="*{author}" id="author">
    </div>
    <div class="col-6 mb-3">
      <label class="form-lable"for="price">price: </label>
      <input class="form-control" type="text" th:field="*{price}" id="price">
    </div>
  <!-- <div class="col-6 mb-3">
     <label class="form-lable" for="category"> Category :</label>
     <select class="form-control" id="category" name="category.id">
       <option value="">---select category <----</option>
       <option th:each=" category : ${categories}" th:value="@{category.id}"
               th:text="${category.name}"></option>
     </select>
   </div>-->

    <input type="submit" class="btn btn-primary" value="Save">
  </form>

  <br><a th:href="@{/books}">quay lai</a>

</div>
<th:sblock th:replace="layout::footer"></th:sblock>
</body>
</html>